*
!.gitignore
!ALCANCE DE HOMOLOGACION.docx
!AYUDANTE DE CATEDRA.docx
!CAMBIO DE CARRERA.docx
!CAMBIO DE MALLA_PENSUM.docx
!CAMBIO DE MODALIDAD.docx
!EXAMEN DE GRACIA.docx
!EXAMEN DE RECUPERACION_.docx
!EXAMEN DE SUFICIENCIA.docx
!EXAMEN DE SUPLETORIO.docx
!HOMOLOGACION.docx
!INCOMPLETO.docx
!PERSON TO PERSON.docx
!RECALIFICACION DE EXAMEN.docx
!REGISTRO EXTEMPORANEO.docx
!REINCORPORACION A CARRERA.docx
!RETIRO DE CARRERA.docx
!RETIRO DE MATERIA.docx
!RETIRO DE UNIVERSIDAD.docx
!RETIRO EXTEMPORANEO.docx
!TERCER REGISTRO.docx
